body {
  margin-top: 50px !important;
}

.recipe-card {
  width: 90%;
}

@media (min-width: 900px) and (max-width: 1430px) {
  .recipe-card {
    width: 48%;
  }
}

@media (min-width: 1430px) {
  .recipe-card {
    width: 32.4%;
  }
}
